// Breakpoints
$xsmall-min: 0;
$xsmall-max: 479px;

$small-min: 480px;
$small-max: 767px;

$medium-min: 768px;
$medium-max:  959px;

$large-min: 960px;
$large-max: 1219px;

$xlarge-min: 1220px;

@import "node_modules/font-awesome/scss/font-awesome.scss";

@import "./helpers.scss";
@import "./overrides.scss";
@import "./styles.scss";